@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Quicksand', 'Questrial', sans-serif;
    background-color: #fff; 
    color: #000;             
}

#root {
    min-height: 100%;
    width: 100%;
}