.userLogin {
  width: 150px;
  height: 33px;
  position: relative;
  font-family: "Questrial", sans-serif;
  cursor: pointer;

  .container-login {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FF5EC0;
    

    img {
      width: 60px;
      height: 60px;
      object-fit:contain;
    }

    h2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      width: fit-content;
      font-size: 15px;
      font-weight: 600; 
     
    }
  }
}

/* Responsive para celulares */
@media (min-width: 220px) and (max-width: 900px) {
  .userLogin {
    width: fit-content;

    .container-login {
      flex-direction: column;

      img {
        width: 100%;
        height: 40px;
        object-fit: contain;
      }

      h2 {
        font-size: 10px;
        margin-left: 0; 
        margin-top: 2px;
      }
    }
  }
}