.admin-container {
    width: max-content;
    height: min-content;
    position: relative;
    font-family: "Questrial";
    cursor: pointer;
    border-radius: 10px;
}

.items-admin-container,
.items-container-admin-menu {
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FF5EC0;
    flex-direction: column;
}

.items-container-admin-menu {
    flex-direction: row;
}

.items-container-admin-menu .down-arrow-container-admin-menu {
    height: 30px;
    width: min-content;
}

.items-container-admin-menu .down-arrow-container-admin-menu img {
    height: 30px;
    width: auto;
    object-fit: cover;
}

.items-container-admin-menu .down-arrow-container-admin-menu h2 {
    display: flex;
    flex-direction: row; /* o column si prefieres */
    text-align: center;
    width: min-content;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
}

.desplegable-admin {
    box-shadow: 0 0 3px 0 black;
    border-radius: 15px;
    display: none;
    background-color: #F1F0EC;
    align-self: flex-end;
    top: 100%;
    left: 0;
    width: 250px;
    position: absolute;
}

.desplegable-admin a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
}

.desplegable-admin li {
    height: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    color: black;
    font-weight: 500;
    padding-left: 10px;
}

.desplegable-admin li:hover {
    background-color: #739C84;
    color: white;
    border: solid thin;
}

.admin-container:hover .desplegable-admin {
    display: block;
}

/* Responsive */
@media (min-width: 220px) and (max-width: 900px) {
    .user-container {
        width: fit-content;
    }

    .user-container .items-container {
        display: flex;
        flex-direction: row;
    }

    .user-container .items-container img {
        height: 40px;
        width: 100%;
        object-fit: contain;
    }

    .user-container .items-container h2 {
        font-size: 10px;
    }

    .user-container .items-container .desplegable-admin {
        width: 150px;
    }

    .user-container .items-container .desplegable-admin li {
        font-size: 12px;
    }
}